<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<style>
    p.error {
        color: red;
    }
</style>
    <div align="center">
        <h1>Contact us</h1>

        <form action="#" th:action="@{/}" th:object="${request}" method="post">
            <label>Kind of Request</label></br>

            <select th:field="*{requestType}">
                <option th:each="request : ${requests}" th:value="${request}" th:text="${request}"/>
            </select><br/><br/>

            <label>Policy Number</label><br/>
            <input type="text" th:field="*{policyNumber}">
            <p class="error" th:if="${#fields.hasErrors('policyNumber')}" th:errors="*{policyNumber}">Policy Number Error</p><br/><br/>

            <label>Name</label><br/>
            <input type="text" th:field="*{name}">
            <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p><br/><br/>

            <label>Surname</label><br/>
            <input type="text" th:field="*{surname}">
            <p class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</p><br/><br/>

            <label>Your request</label><br/>
            <textarea th:field="*{note}"></textarea>
            <p class="error" th:if="${#fields.hasErrors('note')}" th:errors="*{note}">Note Number Error</p><br/>

            <button type="submit">SEND REQUEST</button>
        </form>
    </div>
</body>
</html>